########################
# Code editor specific #
########################
.vscode/

####################
# Ansible specific #
####################
.cache
*.retry

###################
# Python specific #
###################
__pycache__
*.pyc

########
# Logs #
########
*.log
